<h1>LongestWord Score</h1>
<p>Find me in app/views/longest_word/score.html.erb</p>

<%= @grid %>

<br>
<br>

<p>"*****************************************************"</p>

<p>"Your word: <%= @user_input %>"</p>
<p>"Time Taken to answer: <%= @result[:time] %>"</p>
<p>"Translation: <%= @result[:translation] %>"</p>
<p>"Your score: <%= @result[:score] %>"</p>
<p>"Message: <%= @result[:message] %>"</p>

<p>"*****************************************************"</p>

